{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
  Pagina de Medicos
{% endblock titulo %}

{% block contenido %}
   <h1> {{ titulo|upper }} {% now " d / m /  Y " %} </h1>

   <h4> Cantidad de Medicos en la tabla {{medicos|length}}</h4>

   <table class="table table-striped">
      <thead>
           <tr>
               <th>Id</th>
               <th> Nombre del Medico</th>
               <th> Dni </th>
           </tr>
      </thead>
      <tbody>
   
   {% for c in medicos  %}
  
   <tr>
       <td> {{ c.id }} </td>
       <td> {{ c.nombre }} </td>
       <td> {{ c.dni }} </td>
   </tr>

   {% endfor %}
  </tbody>   
  </table>


  
   
   {% comment %}
   <h4> Grupos {{grupos.0}} , {{grupos.1}} </h4
   {% endcomment %}
    
{% endblock contenido %}