{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
  Agregar Paciente
{% endblock titulo %}

{% block contenido %}
    <h2> Agregar un Paciente!! </h2>
    <form action="" method="post">
        
        {% csrf_token %}
       <p> Nombre:  <input type="text" name="nombre" id="nombre"></p>
       <p> Apellido:  <input type="text" name="apellido" id="apellido"></p>
       <p> Dni:  <input type="number" name="dni" id="dni"></p>
       <input type="submit" value="Enviar">

    </form>
    {% endblock contenido %}